/*Formulario de contacto*/

.background-img .form-contact {
    display: flex;
    justify-content: center;
}

.background-img{
    background-image: url('../img/FONDO\ GENERAL.jpg');
    background-size: cover, contain;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
    
}

.form-contact {
    background: #FFF;
    width: 600px;
    position: absolute; right: 0;
    top: 65%;
    left: 50%;
    padding-top: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.form-contact h2 {
        font-size: 23px;
}

.contact {
    padding: .8rem;
    overflow: hidden;
    color: gray;
    


    label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;   
}

    label {
    font-weight: 700;
}

    input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid #2596be;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
}

    textarea {
    min-height: 100px;
}

}

@media (max-width: 1000px) {
    .form-contact {
        margin-top: 180px;
    }
}

@media (max-width: 768px) {
    .form-contact {
        width: 550px;
    }
}

@media (max-width: 576px) {
    .form-contact {
        width: 400px;
        
    }
}

input[type='submit'] {
    @include inputcito;
}

input[type='reset'] {
    @include inputcito;
}

.content {
    width:100%;
    height: 480px;
}
