/*Guía de Suplementos*/

.guia {
    background: rgb(36, 35, 35);
    text-align: center;
    color: white;
    font-size: 17px;

    h2 {
    color: white;
    font-weight: bold;
    font-size: 28px;
    display: block;
    padding-top: 25px;
    

    h3 {
    color: #2596be;
    font-size: 24px;

        }
    }
}