/*Suplementos y indumentaria*/

.boton {
    padding: 10px;
    width:70%;
    font-family: sans-serif;
    text-align: center;
    margin: 0px auto;
    transition: .3s;
    display: block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    transition: transform .2s; 
}


.boton:hover {
    transform: scale(1.1); 
}

.card-title {
    background-color: #2596be;
    border-radius: 5px;
    padding: 2px;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 1px white;
}

.card {
    text-align: center;
    background-color: rgb(61, 60, 60);
}

.card-text {
    color: white;
}

h5 {
    background-color: black;
    transition: background-color .5s;
    cursor: default;
}

h5:hover {
    background-color: red;
}



