$bg-body: white;
$fuente-grande: 3rem;
$fuente-chica: .5rem;
$color-header: white;

/*MIXIN*/
@mixin inputcito {
    padding: 10px;
    background: #2596be;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}