@import "variables";

@import "contactanos";
@import "footer";
@import "guiasuplementos";
@import "suplementoseindumentaria";




/*CSS Principal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 100%;
    background: white;
    overflow: hidden;
    color: $color-header;

    span {
        font-size: 100px;
        display: block;
        text-align: center;
        padding: 2.5rem;
    }
}

body {
    background-color: $bg-body;
    
}

img {
    max-width: 100%;
}



/*NavBar*/

#navbarNav {
    display: flex;
    justify-content: center;
    height: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    li a {
    text-decoration: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;

    &:hover {
    background-color: #2596be;
    color: black;

        }
    }
}


@media (max-width: 991px) {
    header {
        position: fixed, top;
    }

    .collapse {
        height: 160px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .navbar-toggler-icon {
        display: inline-block;
        max-width: 10vh;
        max-height: 10vh;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}

/*Inicio*/

/*EXTENDS*/

.centrado-common {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.centrado {
    @extend .centrado-common;
    top: 32%;
    left: 50%;
    font-size: 45px;
    text-shadow: -3px -3px 3px #2596be, 3px -3px 3px #2596be, -3px 3px 3px #2596be, 3px 3px 3px #2596be;
}

.centrado-2 {
    @extend .centrado-common;
    top: 44%;
    left: 50%;
    font-size: 32px;
    text-shadow: -3px -3px 3px #2596be, 3px -3px 3px #2596be, -3px 3px 3px #2596be, 3px 3px 3px #2596be;
}

.centrado-3 {
    @extend .centrado-common;
    top: 63%;
    left: 50%;
    font-size: 25px;
    text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
    
}

/*FIN EXTENDS*/

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;

}

@media (max-width: 1200px) {
    .centrado {
        font-size: 29px;
    }
    .centrado-2 {
        font-size: 19px;
    }
    .centrado-3 {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .centrado {
        font-size: 26px;
    }
    .centrado-2 {
        font-size: 16px;
    }
    .centrado-3 {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .centrado {
        font-size: 20px;
        top: 45px;
    }
    .centrado-2 {
        font-size: 16px;
        top: 90px;
    }
    .centrado-3 {
        font-size: 14px;
    }
    .img-centrado {
        height: 300px;
    }
}
    

@media (max-width: 576px) {
    .centrado {
        font-size: 18px;
    }
    .centrado-2 {
        font-size: 15px;
    }
    .centrado-3 {
        font-size: 13px;
    }
}